<!-- Section: booking -->
<section class="section section-popular scrollspy" id="booking">
  <div class="container">
    <div class="row">
      <h4 class="center"><span class="orange-text text-darken-3">Booking</span></h4>
      <div class="col s8 offset-s2 center">
        <p class="center">If you book with us directly, it will help us on commission fees to booking.com or priceline.com. But you are still welcome to use either services. Thank you in advance.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 center">
        <a href="{{ site.booking }}" target="_blank" class="btn btn-medium blue-grey darken-2">
          <i class="material-icons left">send</i>Booking.com
        </a>
      </div>
      <div class="col s12 m6 center">
        <a href="{{ site.priceline }}" target="_blank" class="btn btn-medium blue-grey darken-2">
          <i class="material-icons left">send</i>Priceline.com
        </a>
      </div>
    </div>
  </div>
</section>


