<!-- Section: footer -->
<footer class="section blue darken-3 white-text center">
  <p class="flow-text">
    <a href="#home" class="brand-logo white-text">{{ site.title }}</a>
  </p>
</footer>  

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/js/offroadGForm.js"></script>
<script type="text/javascript" src="assets/js/float-panel.js"></script>

<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script>
  // Initialize glightbox
  const lightbox = GLightbox({
    touchNavigation: true,
    loop: true,
    autoplayVideos: true
  });
</script>
