<!-- Section: gallery -->
<section class="section section-gallery scrollspy" id="gallery">
  <div class="container">
    <h4 class="center">
      <span class="red-text text-darken-2">2024 Offroad Adventures</span>
    </h4>
    <div class="row">
      {% assign gallery = site.static_files | where: "image", "2024-01"%}
      {% for image in gallery %}
      <div class="col s12 m3">
        <a href="assets/img/2024-01/{{ image.name }}" data-gallery="g1" class="glightbox">
          {% if image.extname == ".mp4" %}
          <img src="assets/img/mp4.webp" alt="" class="responsive-img">
          {% else %}
          <img src="assets/img/2024-01/{{ image.name }}" alt="" class="responsive-img">
          {% endif %}
        </a>
      </div>
      {% assign remainder = forloop.index | modulo: 4 %}
      {% if remainder == 0 %}
      </div>
      <div class="row">
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
