<!-- Section: slider -->
<section class="slider" id="home">
  <ul class="slides">
    {% for slide in site.data.slides %}
    <li>
      <img src="assets/img/{{ slide.photo }}" alt="">
      <div class="caption {{ slide.motion }}">
        <h4>&#10077;{{ slide.title }}&#10078;</h4>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">{{ slide.details }}</h5>
        <a href="{{ slide.link }}" class="btn btn-large red darken-3 btn-floating pulse">{{ slide.link-text }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
